.chart-control-container {
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.chart-control-close {
    float: right
}

.chart-control-container .chart-show-graphics-icon {
  background-image: url("../images/chart_eye.png");
  width: 16px;
  height: 16px;
  background-repeat:no-repeat;
  background-position:center center;
}

.chart-control-container .chart-fullscreen-icon {
  background-image: url("../images/chart_fullscreen.png");
  width: 16px;
  height: 16px;
  background-repeat:no-repeat;
  background-position:center center;
}

.chart-control-container .chart-close-icon {
  background-image: url("../images/chart_close.png");
  width: 16px;
  height: 16px;
  background-repeat:no-repeat;
  background-position:center center;
}

.calcite .chart-control-container .esriButton {
    border: 1px solid #A6A6A6;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.125);
    font-size: 0.875em;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 3px;
    margin-right: 3px;
}

.calcite .chart-control-container .dijitToggleButtonChecked {
    border: 1px solid transparent;
    box-shadow: 0px;
    background: transparent;
}

.calcite .chart-control-container .esriButtonActive,
.calcite .chart-control-container .esriButtonChecked,
.calcite .chart-control-container .esriButtonHover {
    border: 1px solid transparent;
    box-shadow: 0px;
    background: transparent;
}

.calcite .chart-control-container .esriButton.esriButtonActive.dijitToggleButton,
.calcite .chart-control-container .esriButton.esriButtonChecked.dijitToggleButton,
.calcite .chart-control-container .esriButton.esriButtonHover.dijitToggleButton {
    border: 1px solid transparent;
    box-shadow: 0px;
    background: transparent;
}

.calcite .chart-control-container .esriButton.esriButtonActive,
.calcite .chart-control-container .esriButton.esriButtonChecked,
.calcite .chart-control-container .esriButton.esriButtonHover {
    border: 1px solid transparent;
    box-shadow: 0px;
    background: transparent;
}

.calcite .chart-control-container .dijitToggleButton {
    padding: 0%;
}

.chart-control-container .dijitButtonNode {
    line-height: normal;
    text-align: center;
    white-space: nowrap;
}

.chart-control-container .esriButton .dijitButtonNode {
    color: #666;
}

.chart-control-container .esriButton .dijitButtonNode,
.chart-control-container .esriToggleButton .dijitButtonNode {
    width: 32px;
    height: 32px;
    vertical-align: middle;

    border-color: none;
    border: none;
    background: none;
    font-size: medium;
}

.chart-control-container .dijitButtonNode {
    outline: none;
}

.chart-control-container .esriButtonChecked .dijitButtonNode,
.chart-control-container .esriButtonActive .dijitButtonNode {
    border: 0px solid transparent;
    border-radius: 3px;
	color:#000;
    background: #ededed url("../images/button-active.png") bottom repeat-x;
}

.chart-control-container .esriButtonHover .dijitButtonNode {
    border: 0px solid transparent;
    border-radius: 3px;
	color:#000;
	background:#fcfdff url("../images/button-hover.png") repeat-x bottom;
}

.calcite .chart-control-container .dijitButtonNode .dijitIcon {
    margin-left: 6px;
    margin-top: 8px;
}

.calcite .chart-control-container .dijitButtonContents {
    padding: 0px;
}

.calcite .chart-control-container .dijitStretch .dijitButtonContents {
    height: 32px;
    display: block;
}

.chart-control-container .dijitButtonContents {
    display: block;
}

.chart-control-container .dijitStretch {
    white-space: nowrap;
    background-repeat: repeat-x;
}

.chart-control-container .dijitButtonNode * {
    outline: none;
}
