body {

}
h1[property=name]{
    margin-top: 10px;
    display: block;
}
#btnHelp {
    float: right;
    margin-top: -50px;
}
#viewDiv {
    padding: 0;
    margin: 0;
    height: 500px;
}
#leftSidebar .tabpanels {
    height: 449px;
    overflow-y: scroll;
    background-color: #ffffff;
}

#layerlistDiv.esri-widget {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

#layerlistDiv.esri-layer-list {
    background-color: #ffffff; /* #f9f9f9; */
    padding: 0px;

}
#layerlistDiv .esri-layer-list__item-container {
    padding-top: 4px;
    padding-bottom: 4px;
}
#layerlistDiv .esri-layer-list__item-toggle-icon {
    font-size: 15px;
}
#legendDiv .esri-legend__service {
    padding-left: 0px;
}
#legendDiv.esri-widget {
    font-family: Arial, Helvetica, sans-serif;
}
#legendDiv .esri-legend__layer-caption {
    display: none;
}
section.bottomrow {
    padding-top: 10px;
}
#queryResultDisplay #car_details div:hover {
    background-color: #ebe9e9;
}

#queryResultsList {
    display: inline;
    max-width: 312px;
}