$windowHeight: 4.5in;

label {
    font-weight: normal
}

#btnHelp {
    position: absolute;
    right: 0.5in;
}
#panelBodyMap, #panelBodyBottom {
    padding: 0;
}


/* panelBodyMap */
#divMap {
    min-height: $windowHeight;
}
.expandReduce {
    position: absolute;
    left: 17px;
    bottom: 2px;
    z-index: 9;
    width: 36px;
    height: 36px;
    padding: 2px;
    background-color: white;
}


/* paneLeftTop */
#formTop,
#formMapOneWeek, #formMapPeriod,
#formGraphOneWeek, #formGraphPeriod {
    margin: 10px;
}
#formTop > div,
#formMapOneWeek > div, #formMapPeriod > div,
#formGraphOneWeek > div, #formGraphPeriod > div {
    margin: 5px;
}
#formTop span {
    display: inline-block;
    width: 1in;
}
#formMapOneWeek label {
    font-weight: normal;
    margin: 0;
}
#formMapPeriod select {
    margin-left: 10px;
}


/* tabsMainLeft */
#tabsMainLeft.ui-tabs {
    .ui-tabs-panel {
        padding: 5px;
    }
    .ui-tabs-nav .ui-tabs-anchor {
        padding: .5em;
    }
}

#tabsMainLeft, #tabsMainBottom {
    font-size: smaller;
    .fieldset {
        border: 1px solid silver;
        margin: 3px 0;
        padding: 5px;
    }
    .legend {
        font-weight: bold;
    }
    input[type=radio],
    input[type=checkbox] {
        vertical-align: -15%;
        margin-right: 3px;
    }
}

#formCriterias {
    select {
        margin: 2px 0;
    }
    .fieldset .inlineBlock {
        display: inline-block;
        width: 0.85in;
    }
    #formSelectionMethod select {
        display: block;
    }
    #formSelectionMethod .right {
        position: absolute;
        right: 15px;
    }
    #lboBoundaryLayer {
        margin-left: 20px;
    }
}

#formTOC {
    max-height: $windowHeight;
    overflow: auto;
    input[type=checkbox]+label,
    a>label {
        font-weight: normal;
        margin-bottom: 0;
    }
    .disabled {
        color: grey;
    }
}

#tabSummaryResults.ui-tabs-panel {
    padding: 0;
}
#paneSummaryResults {
    /*display: table;
    border-collapse:separate;
    border-spacing:5px;*/
    width: 100%;
    > div {
        /*display: table-cell;*/
        float: left;
        margin: 5px;
        > div {
            .fieldset {
                border: 1px solid silver;
                margin: 5px 0;
                padding: 5px;
            }
            .legend {
                font-weight: bold;
            }
        }
    }
    .result {
        margin-left: 23px;
    }
    .btnChart {
        margin-right: 5px;
        vertical-align: text-bottom;
    }    
}

#tabGraphsResults.ui-tabs-panel {
    padding: 0;
}
#graphsControl {
    > div {
        margin: 10px 0;
        border: 1px solid silver;
        > div {
            font-weight: bold;
        }
        > label {
            font-weight: normal;
        }
        > input {
            margin-left: 5px;
        }
    }
    label.disabled {
        color: grey;
    }
}

#graphsDisplay {
    margin: 10px 0;
    #graphsTitle {
        text-align: center; 
        font-size: larger;
        font-weight: bold;
    }
    #graphsTable {
        display: table;
        width: 100%;
        #graphsChart, #graphsLegend {
            display: table-cell;
        }
        #graphsChart {
            width: 400px;
            height: 250px;
        }
        #graphsLegend {
            vertical-align: middle;
            td {
                width: 2.5in;
            }

        }
    }
}

#paneIdentifyResults {
    width: 100%;
    border-collapse: collapse;
    > div {
        min-height: 1in;
        border: 1px solid silver;
        vertical-align: top;
    }
    .identTitle {
        text-align: center;
        font-weight: bold;
        font-size: larger;
        margin: 10px;
    }
    .identLayerName {
        text-align: left;
        font-weight: bold;
        padding: 5px;
    }
    .identTable {
        display: table;
        > div {
            display: table-row;
            > div {
                display: table-cell;
                padding-left: 10px;
            }
        }
    }
    #identImage > div > div > div:nth-child(1) {
        font-weight: bold;
    }
}

@media (min-width: 760px) { 
    #paneIdentifyResults {
        display: table; 
        > div { 
            display: table-cell;
            width: 50%;
        }                
    }
}

@media only screen and (max-width: 760px)  {
    #paneIdentifyResults {
        display: block; 
        > div { 
            display: block; 
        }                
    }
}