label {
  font-weight: normal; }

#btnHelp {
  position: absolute;
  right: 0.5in; }

#panelBodyMap, #panelBodyBottom {
  padding: 0; }

/* panelBodyMap */
#divMap {
  min-height: 4.5in; }

.expandReduce {
  position: absolute;
  left: 17px;
  bottom: 2px;
  z-index: 9;
  width: 36px;
  height: 36px;
  padding: 2px;
  background-color: white; }

/* paneLeftTop */
#formTop,
#formMapOneWeek, #formMapPeriod,
#formGraphOneWeek, #formGraphPeriod {
  margin: 10px; }

#formTop > div,
#formMapOneWeek > div, #formMapPeriod > div,
#formGraphOneWeek > div, #formGraphPeriod > div {
  margin: 5px; }

#formTop span {
  display: inline-block;
  width: 1in; }

#formMapOneWeek label {
  font-weight: normal;
  margin: 0; }

#formMapPeriod select {
  margin-left: 10px; }

/* tabsMainLeft */
#tabsMainLeft.ui-tabs .ui-tabs-panel {
  padding: 5px; }
#tabsMainLeft.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
  padding: .5em; }

#tabsMainLeft, #tabsMainBottom {
  font-size: smaller; }
  #tabsMainLeft .fieldset, #tabsMainBottom .fieldset {
    border: 1px solid silver;
    margin: 3px 0;
    padding: 5px; }
  #tabsMainLeft .legend, #tabsMainBottom .legend {
    font-weight: bold; }
  #tabsMainLeft input[type=radio],
  #tabsMainLeft input[type=checkbox], #tabsMainBottom input[type=radio],
  #tabsMainBottom input[type=checkbox] {
    vertical-align: -15%;
    margin-right: 3px; }

#formCriterias select {
  margin: 2px 0; }
#formCriterias .fieldset .inlineBlock {
  display: inline-block;
  width: 0.85in; }
#formCriterias #formSelectionMethod select {
  display: block; }
#formCriterias #formSelectionMethod .right {
  position: absolute;
  right: 15px; }
#formCriterias #lboBoundaryLayer {
  margin-left: 20px; }

#formTOC {
  max-height: 4.5in;
  overflow: auto; }
  #formTOC input[type=checkbox] + label,
  #formTOC a > label {
    font-weight: normal;
    margin-bottom: 0; }
  #formTOC .disabled {
    color: grey; }

#tabSummaryResults.ui-tabs-panel {
  padding: 0; }

#paneSummaryResults {
  /*display: table;
  border-collapse:separate;
  border-spacing:5px;*/
  width: 100%; }
  #paneSummaryResults > div {
    /*display: table-cell;*/
    float: left;
    margin: 5px; }
    #paneSummaryResults > div > div .fieldset {
      border: 1px solid silver;
      margin: 5px 0;
      padding: 5px; }
    #paneSummaryResults > div > div .legend {
      font-weight: bold; }
  #paneSummaryResults .result {
    margin-left: 23px; }
  #paneSummaryResults .btnChart {
    margin-right: 5px;
    vertical-align: text-bottom; }

#tabGraphsResults.ui-tabs-panel {
  padding: 0; }

#graphsControl > div {
  margin: 10px 0;
  border: 1px solid silver; }
  #graphsControl > div > div {
    font-weight: bold; }
  #graphsControl > div > label {
    font-weight: normal; }
  #graphsControl > div > input {
    margin-left: 5px; }
#graphsControl label.disabled {
  color: grey; }

#graphsDisplay {
  margin: 10px 0; }
  #graphsDisplay #graphsTitle {
    text-align: center;
    font-size: larger;
    font-weight: bold; }
  #graphsDisplay #graphsTable {
    display: table;
    width: 100%; }
    #graphsDisplay #graphsTable #graphsChart, #graphsDisplay #graphsTable #graphsLegend {
      display: table-cell; }
    #graphsDisplay #graphsTable #graphsChart {
      width: 400px;
      height: 250px; }
    #graphsDisplay #graphsTable #graphsLegend {
      vertical-align: middle; }
      #graphsDisplay #graphsTable #graphsLegend td {
        width: 2.5in; }

#paneIdentifyResults {
  width: 100%;
  border-collapse: collapse; }
  #paneIdentifyResults > div {
    min-height: 1in;
    border: 1px solid silver;
    vertical-align: top; }
  #paneIdentifyResults .identTitle {
    text-align: center;
    font-weight: bold;
    font-size: larger;
    margin: 10px; }
  #paneIdentifyResults .identLayerName {
    text-align: left;
    font-weight: bold;
    padding: 5px; }
  #paneIdentifyResults .identTable {
    display: table; }
    #paneIdentifyResults .identTable > div {
      display: table-row; }
      #paneIdentifyResults .identTable > div > div {
        display: table-cell;
        padding-left: 10px; }
  #paneIdentifyResults #identImage > div > div > div:nth-child(1) {
    font-weight: bold; }

@media (min-width: 760px) {
  #paneIdentifyResults {
    display: table; }
    #paneIdentifyResults > div {
      display: table-cell;
      width: 50%; } }
@media only screen and (max-width: 760px) {
  #paneIdentifyResults {
    display: block; }
    #paneIdentifyResults > div {
      display: block; } }

/*# sourceMappingURL=main.css.map */
