<div>
    <div class="metrics-tabs"
         data-dojo-attach-point="tabsNode">

        <div data-dojo-attach-point="tabResultsNode">
            <div id="${id}-report-node"></div>
        </div>

        <div data-dojo-attach-point="tabQueryNode"
             title="${i18n.widget.query_tab}">

            <div class="metrics-draw-locate"
                 data-dojo-attach-point="accordionContainerNode">

                <!-- Select in Map -->
                <div data-dojo-attach-point="drawContentPaneNode">

                    <label for="${id}-metrics-instructions"> ${i18n.widget.instructions}</label>
                    <div class="metrics-drawing-instructions" id="${id}-metrics-instructions" data-dojo-attach-point="selectionModeInstructions"></div>

                    <label for="${id}-metrics-select-mode">${i18n.widget.query_mode}</label>
                    <form id="${id}-metrics-select-mode" class="form-control metrics-select-mode">
                        <input type="radio" name="select-mode" data-dojo-attach-point="selectionModePoint" value="${selectionModeType.point}" id="${id}-metrics-select-mode-point" />
                        <label for="${id}-metrics-select-mode-point">${i18n.widget.query_mode_point}</label><br>

                        <input type="radio" name="select-mode" data-dojo-attach-point="selectionModePolygon" value="${selectionModeType.polygon}" id="${id}-metrics-select-mode-polygon" />
                        <label for="${id}-metrics-select-mode-polygon">${i18n.widget.query_mode_polygon}</label><br>

                        <input type="radio" name="select-mode" data-dojo-attach-point="selectionModeSelection" value="${selectionModeType.selection}" id="${id}-metrics-select-mode-selecttion" />
                        <label for="${id}-metrics-select-mode-selecttion">${i18n.widget.query_mode_selection}</label><br>
                    </form>
                </div>

                <!-- Settings -->
                <div class="metrics-options"
                     title="${i18n.widget.options}"
                     data-dojo-attach-point="settingsContentPaneNode">
                     <div data-dojo-attach-point="nodeSettings"></div>
                </div>

                <!-- Find a location -->
                <div title="${i18n.widget.locate_search}"
                     data-dojo-attach-point="searchContentPaneNode">
                    <div id="${id}-metrics-search-list" data-dojo-attach-point="nodeSearchList"></div>
                </div>

            </div>
        </div>

        <div data-dojo-attach-point="tabHelpNode"
            title="${i18n.widget.help_tab}">
            <div class="metrics-report">
                <div class="metrics-report-title">${i18n.widget.help.help}</div>
                <a href="help.html" target="_blank">${i18n.widget.help.instructions}</a>
            </div>
            <div class="metrics-report">
                <div class="metrics-report-title">${i18n.widget.about.about}</div>
                <div class="metrics-stats-result">${i18n.widget.about.version}: ${config.widget.version}</div>
                <div class="metrics-stats-result">${i18n.widget.about.last_modified}: ${config.widget.modifiedDate}</div>
                <div class="metrics-stats-result">&copy;${i18n.widget.about.organization}</div>
            </div>
        </div>
    </div>
</div>
