<div class="metrics-search-list">
    <div class="map-extent-search" >
        <!-- button btn btn-default btn-sm : wet3 && wet4 -->
        <div class="map-button"
             tabindex="0"
             data-dojo-attach-point="searchExtent"
             id="${id}-searchlist-extent"
             role="button">
            <img src="${mapIcon}" alt="${i18n.altSearchExtent}" title="${i18n.titleSearchExtent}"/>
        </div>

        <div id="${id}-searchlist-attribute" role="search" data-dojo-attach-point="searchAttributeNode"></div>
    </div>
    <div aria-live="assertive" data-dojo-attach-point="results"></div>

    <main role="main" data-dojo-attach-point="list"></main>
</div>
