<div id="paneSummaryResults" style="display: none;">
    <div id="divForecastPotential">
        <div class="legend">FORECAST YIELD POTENTIAL<br>July</div>
        <div class="fieldset">
            <div>
                <a id="chartsHistoYieldForecast" class="aChart" href="#"><img src="images/charticon.gif" class="btnChart"></a>
                HISTORICAL YIELD FORECAST
            </div>
            <br>
            <div class="result">OVERALL OUTLOOK (CPI)</div>
            <div id="lblForcstdOutlook" class="result"></div>
            <div class="result">BEST CASE</div>
            <div id="lblForcstdHigh90" class="result"></div>
            <div class="result">MOST LIKELY</div>
            <div id="lblForcstdMedian" class="result"></div>
            <div class="result">WORST CASE</div>
            <div id="lblForcstdLow10" class="result"></div>
        </div>
    </div>
    <div id="divCurrentConditions">
        <div class="legend">ESTIMATED CURRENT CONDITONS<br>17 July</div>
        <div class="fieldset">
            <div>
                <div>
                    <a id="chartsCropStage" class="aChart" href="#"><img src="images/charticon.gif" class="btnChart"></a>
                    CROP STAGE
                </div>
                <div id="lblCropStage" class="result"></div>
            </div>
            <div>
                <div>
                    <a id="chartsAccHeat" class="aChart" href="#"><img src="images/charticon.gif" class="btnChart"></a>
                    ACCUMULATED HEAT
                </div>
                <div id="lblHeat" class="result"></div>
            </div>
            <div>
                <div>
                    <a id="chartsAccPrecp" class="aChart" href="#"><img src="images/charticon.gif" class="btnChart"></a>
                    ACCUMULATED PRECIPITATION
                </div>
                <div id="lblPrecp" class="result"></div>
            </div>
            <div>
                <div>
                    <a id="chartsNDVI" class="aChart" href="#"><img src="images/charticon.gif" class="btnChart"></a>
                    SATELLITE VEGETATION INDEX
                </div>
                <div id="lblNDVI" class="result"></div>
            </div>
            <div>
                <div>
                    <a id="chartsSI" class="aChart" href="#"><img src="images/charticon.gif" class="btnChart"></a>
                    STRESS INDEX
                </div>
                <div id="lblStressIndex" class="result"></div>
            </div>
        </div>
    </div>
    <div id="divForecastConditions" style="display: none;">
        <div class="legend">FORECAST CONDITIONS<br>2017-12-08</div>
        <div class="fieldset">
            <div>
                <div>
                    <a id="chartForecTemp" class="aChart" href="#"><img src="images/charticon.gif" class="btnChart"></a>
                    FORECAST AIR TEMPERATURE (24 hours)
                </div>
                <div class="result" style="color: blue;">To Do</div>
            </div>
            <div>
                <div>
                    <a id"=chartForecPrecp" class="aChart" href="#"><img src="images/charticon.gif" class="btnChart"></a>
                    FORECAST PRECIPITATION (48 hours)
                </div>
                <div class="result" style="color: blue;">To Do</div>
            </div>
        </div>
    </div>
    <div id="divRisks">
        <div class="legend">RISKS</div>
        <div class="fieldset">
            <div>
                <div>
                    <a id="chartsCDM" class="aChart" href="#"><img src="images/charticon.gif" class="btnChart"></a>
                    DROUGHT INTENSITY: July
                </div>
                <div id="lblCDM" class="result"></div>
            </div>
            <div>
                <div class="result">
                    GRASSHOPPER: Year
                </div>
                <div class="result" style="color: blue;">To Do</div>
            </div>
        </div>
    </div>
</div> 

<div id="paneGraphsResults">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" id="graphsControl">
        <div id="divHistoYieldForecast">
            <div>Historical Yield by Forecast</div>
            <input type="checkbox" id="graph_histoYieldLine" checked disabled />
                <label for="graph_histoYieldLine">Line Chart</label>
        </div>

        <div id="divCropStage">
            <div>Crop Stage</div>
            <input type="checkbox" id="graph_cropStageHistoPie" disabled />
                <label for="graph_cropStageHistoPie" class="disabled">Compared to Historical Trend</label><br>
            <input type="checkbox" id="graph_cropStage" checked />
                <label for="graph_cropStage">% area</label>
        </div>
        <div id="divAccHeat">
            <div>Accumulated Heat</div>
            <!--input type="checkbox" id="graph_accHeatLine" disabled />
                <label for="graph_accHeatLine" class="disabled">Historical Line Chart</label><br-->
            <input type="checkbox" id="graph_accHeat" checked />
                <label for="graph_accHeat">Trend (% area)</label>
        </div>
        <div id="divAccPrecp">
            <div>Accumulated Precipitation</div>
            <!--input type="checkbox" id="graph_accPrecLine" disabled />
                <label for="graph_accPrecpLine" class="disabled">Historical Line Chart</label><br-->
            <input type="checkbox" id="graph_accPrecp" checked />
                <label for="graph_accPrecp">Trend (% area)</label>
        </div>
        <div id="divNDVI">
            <div>Satellite Vegetation Condition</div>
            <input type="checkbox" id="graph_ndviPie" checked />
                <label for="graph_ndviPie" class="left">% area</label><br>
        </div>
        <div id="divSI">
            <div>Stress Index and Growth</div>
            <input type="checkbox" id="graph_siLine" disabled />
                <label for="graph_siLine">Line Chart</label><br>
            <input type="checkbox" id="graph_siPie" checked />
                <label for="graph_siPie" class="left">% area</label>
        </div>

        <div>
            <div>Forecast Air Temperature</div>
            <input type="checkbox" id="graph_fcastAirPie" />
                <label for="graph_fcastAirPie">% area - Pie Chart</label>
        </div>
        <div>
            <div>Forecast Precipitation</div>
            <input type="checkbox" id="graph_fcastPrecPie" />
                <label for="graph_fcastPrecPie" class="left">% area - Pie Chart</label><br>
            <input type="checkbox" id="graph_fcastPrecolumn" />
                <label for="graph_fcastPrecolumn">Column Chart</label>
        </div>

        <div id="divCDM">
            <div>Drought Intensity</div>
            <input type="checkbox" id="graph_drought" checked />
                <label for="graph_drought">% area</label><br>
        </div>

        <div class="graphTypeSelect">
            <div>Type of graph</div>
            <input type="radio" name="graphTypeChart" value="Pie" id="graphTypePie" checked>
                <label for="graphTypePie">Pie Chart</label><br>
            <input type="radio" name="graphTypeChart" value="Markers" id="graphTypeLine">
                <label for="graphTypeLine">Line Chart</label><br>
            <input type="radio" name="graphTypeChart" value="Columns" id="graphTypeColumn">
                <label for="graphTypeColumn">Column Chart</label><br>
            <input type="radio" name="graphTypeChart" value="Table" id="graphTypeTable">
                <label for="graphTypeTable">Table</label>
        </div>
        <div class="graphTypeSelect">
            <div>Type of data</div>
            <input type="radio" name="graphTypeData" value="Pct" id="graphTypePct" checked>
                <label for="graphTypePct">Percentage</label><br>
            <input type="radio" name="graphTypeData" value="Raw" id="graphTypeRaw">
                <label for="graphTypeRaw">Square kilometers</label>
        </div>
        <!--button id="btnGenGraphs">GO</button-->
    </div>
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" id="graphsDisplay">
        <div id="graphsTitle">
        </div>
        <div id="graphsTable">        
            <div id="graphsChart">
                Graphs will be here.
            </div>
            <div id="graphsLegend">
            </div>
        </div>        
    </div>        
</div>

<div id="paneIdentifyResults">
    <div>
        <div class="identTitle">
            Boundary Layers
        </div>
        <div id="identBoundary"class="identData">
        </div>
    </div>
    <div>
        <div class="identTitle">
            Raster Layers
        </div>
        <div id="identImage" class="identData">
        </div>
    </div>
</div>