<div id="formCriterias" class="formsLeft">
    <div id="formCropTypeDate">
        <div class="fieldset">
            <div class="legend">General</div>
            <div>
                <span class="inlineBlock">Crop Type:</span>
                <select id="lboCropType" class="partOfSubTitle">
                    <option value="barley">Barley</option>
                    <option value="canola">Canola</option>
                    <option value="corngr">Corn</option>
                    <!--option value="flax">Flax</option-->
                    <option value="durwht">Durum Wheat</option>
                    <option value="oats">Oats</option>
                    <option value="soybns">SoyBeans</option>
                    <option value="sprwht">Spring Wheat</option>
                </select>
            </div>
            <div>
                <span class="inlineBlock">Month:</span>
                <select id="lboMonth" class="partOfSubTitle">
                    <option value="07">15 July</option>
                    <option value="08">15 August</option>
                    <option value="09">15 September</option>
                </select>
            </div>
            <div>
                <span class="inlineBlock">Yield Units:</span>
                <span class="inlineBlock"><input type="radio" name="rdoYieldUnits" value="Imperial" checked>Imperial</span>
                <span class="inlineBlock"><input type="radio" name="rdoYieldUnits" value="Metric">Metric</span>
            </div>
            </div>
    </div>
    <div id="formResults2Compute">
        <div class="fieldset">
            <div class="legend">Results to Compute</div>
            <div><input type="checkbox" id="chkForecastPotential" checked>Forecast Yield Potential</div>
            <div><input type="checkbox" id="chkCurrentConditions" checked>Estimated Current Conditions</div>
            <div><input type="checkbox" id="chkForecastConditions">Forecast Conditions</div>
            <div><input type="checkbox" id="chkRisks" checked>Risks</div>
        </div>
    </div>
    <div id="formSelectionMethod">
        <div class="fieldset">
            <div>
                <div class="legend" style="text-align: center;">FEATURE TO PROCESS</div>
                <span class="legend">Selection Method</span>
                <a id="btnTabularFormat" class="right" href="#">Tabular Format</a>
            </div>
            <input type="radio" name="rdoPolygonMethod" value="selectPoly" if="selectPoly" checked class="partOfSubTitle">
            <label for="selectPoly">Select a polygon of a Boundary Layer:</label>
            <br>
            <select id="lboBoundaryLayer">
                <option value="CAR">Census Agricultural Region</option>
                <option value="CD">Census Division</option>
                <option value="CCS">Census Consolidated Subdivision</option>
            </select>
            
            <div style="padding-top: 5px;">
                <span class="legend">Drawing Method</span>
                <a id="btnByCoordinates" class="right" href="#">By Coordinates</a>
            </div>
            <input type="radio" name="rdoPolygonMethod" value="drawPoint" id="drawPoint" class="partOfSubTitle">
            <label for="drawPoint">Draw a point on the map</label>
            <br>
            <input type="radio" name="rdoPolygonMethod" value="drawPoly" id="drawPoly" class="partOfSubTitle">
            <label for="drawPoly">Draw a polygon on the map</label>

            <div style="padding-top: 5px;">
                <span class="legend">Identify</span>
                <a id="btnIdentByCoords" class="right" href="#">By Coordinates</a>
            </div>
            <input type="radio" name="rdoPolygonMethod" value="rdoIdentify" id="rdoIdentify">
            <label for="rdoIdentify">Click a point to identify underlying layers</label>

        </div>
    </div>
</div>		  

<div id="formTOC" class="formsLeft">
    <!--p>Click on a layer name to toggle between showing and hiding options.</p-->
    <div>
        <div class="fieldset">
            <div class="legend">Administrative Boundaries</div>
            <input type="checkbox" id="TOC_CAR" class="TOC_FeatureLayer"/><label for="TOC_CAR">Census Agriculture Regions</label><br>
            <input type="checkbox" id="TOC_CD" class="TOC_FeatureLayer" /><label for="TOC_CD">Census Divisions</label><br>
            <input type="checkbox" id="TOC_CCS" class="TOC_FeatureLayer" /><label for="TOC_CCS">Census Consolidated Subdivisions</label><br>
        </div>

        <div class="fieldset">
            <div class="legend">Climate Services</div>
            <input type="checkbox" id="TOC_acPrec" class="TOC_Layer" /><label for="TOC_acPrec">Accumulated Precipitation</label><br>
            <div id="TOC_CornSoybeans">
                <input type="checkbox" id="TOC_CHU" class="TOC_Layer" /><label for="TOC_CHU">Crop Heat Units</label>
            </div>
            <div id="TOC_NotCornSoybeans">
                <input type="checkbox" id="TOC_GDD" class="TOC_Layer" /><label for="TOC_CHU">Growing Degree Days</label>
            </div>
        </div>

        <div class="fieldset">
            <div class="legend">Indices</div>
            <input type="checkbox" id="TOC_CDM" class="TOC_Layer" /><label for="TOC_CDM">Canadian Drought Monitor</label><br>
            <input type="checkbox" id="TOC_SI" class="TOC_Layer" /><label for="TOC_SI">Stress Index</label><br>
            <input type="checkbox" id="TOC_CS" class="TOC_Layer" /><label for="TOC_CS">Crop Stage</label><br>
            <input type="checkbox" id="TOC_NDVI" class="TOC_Layer" /><label for="TOC_NDVI">Satellite Vegetation Condition</label><br>
        </div>

        <input type="checkbox" id="TOC_Outlook" class="TOC_Layer" /><label for="TOC_Outlook">Overall Outlook</label><br>
        <div id="divFYield" class="fieldset">
            <div class="legend">Forecasted Yield</div>
            <input type="checkbox" id="TOC_high90" class="TOC_Layer" /><label for="TOC_high10">Best Case</label><br>
            <input type="checkbox" id="TOC_median" class="TOC_Layer" /><label for="TOC_median">Most Likeky</label><br>
            <input type="checkbox" id="TOC_low10"  class="TOC_Layer" /><label for="TOC_low10">Worst Case</label><br>
        </div>
        <input type="checkbox" id="TOC_HYield" class="TOC_Layer" /><label for="TOC_HYield">Historical Yield</label><br>

        <div class="fieldset">
            <div class="legend">Others</div>
            <input type="checkbox" id="TOC_evap2" class="TOC_Layer"/><label for="TOC_evap2">Evaporative Stress Index (2 weeks)</label><br>
            <input type="checkbox" id="TOC_evap4" class="TOC_Layer" /><label for="TOC_evap4">Evaporative Stress Index (4 weeks)</label><br>
            <input type="checkbox" id="TOC_graHop" class="TOC_Layer" disabled /><label for="TOC_graHop" class="disabled">Grasshopper Forecast</label>
        </div>
    </div>
      
</div>
    
<div id="formLegend" class="formsLeft">
    <div id="lblRasterName"></div>
    <img id="imgLegend" src="images/legend.jpg">
</div>
