<div class="metrics-report">
    <div class="metrics-report-title">${i18nReport.title}</div>
    <div class="metrics-report-title">${result.option_date_day_word}</div>
    <div class="metrics-stats-title">${result.option_crop_label}</div>

    <div>
        <span class="metrics-stats-title">${i18nReport.best_case}</span>
    </div>
    <div>
        <span class="metrics-stats-result">${result.yield_best}</span>
    </div>

    <div>
        <span class="metrics-stats-title">${i18nReport.most_likely}</span>
    </div>
    <div>
        <span class="metrics-stats-result">${result.yield_most}</span>
    </div>

    <div>
        <span class="metrics-stats-title">${i18nReport.worst_case}</span>
    </div>
    <div>
        <span class="metrics-stats-result">${result.yield_worst}</span>
    </div>
</div>
