<div class="metrics-report">
    <a title="${i18nReport.overall_outlook_title}" href="overall_outlook.html" target="_blank" class="metrics-report-title">${i18nReport.title}</a>
    <div class="metrics-text">${i18nWidget.widget.no_data}</div>
</div>
