<div class="metrics-report">
    <div class="metrics-report-title">${i18nReport.title}</div>
    <div class="metrics-report-title">${result.option_date_day_word}</div>
    <div class="metrics-stats-title">${i18nReport.crop_stage}</div>
    <div>
        <a class="metrics-stats-result">${result.crop_stage_current_mean_class}</a>
        <span class="metrics-stats-result"> (${result.crop_stage_historical_mean_class})</span>
    </div>

    <div class="metrics-stats-title">${i18nReport.heat_acc}</div>
    <div>
        <span class="metrics-stats-result">${result.heat_acc_current_mean}</span>
        <span class="metrics-stats-result"> (${result.heat_acc_historical_mean_class})</span>
    </div>
    <div class="metrics-stats-title">${i18nReport.precip_acc}</div>
    <div>
        <span class="metrics-stats-result">${result.precip_acc_current_mean}</span>
        <span class="metrics-stats-result"> (${result.precip_acc_historical_mean_class})</span>
    </div>

    <div class="metrics-stats-title">${i18nReport.ndvi}</div>
    <div>
        <span class="metrics-stats-result">${result.ndvi_mean}</span>
        <span class="metrics-stats-result"> (${result.ndvi_class})</span>
    </div>

    <div class="metrics-stats-title">${i18nReport.stress_index}</div>
    <div>
        <span class="metrics-stats-result">${result.si_current_mean}</span>
        <span class="metrics-stats-result"> (${result.si_current_mean_class})</span>
    </div>
</div>
