<div class="metrics-report">
    <div class="metrics-report-title">${i18nReport.title}</div>
    <div class="metrics-text">${i18nReport.crop_stage}</div>
    <div class="metrics-text">${i18nReport.heat_acc}</div>
    <div class="metrics-text">${i18nReport.precip_acc}</div>
    <div class="metrics-text">${i18nReport.ndvi}</div>
    <div class="metrics-text">${i18nReport.stress_index}</div>
</div>
