

.metrics-tabs {
    border-right: 2px solid white;
}

.calcite #cp_right .dijitTabContainerTop-tabs .dijitTab {
    min-width: 3em;
    padding: 12px 15px;
}

.calcite #cp_right .dijitTabContainerTop-tabs .dijitTab:hover {
    padding-top: 12px;
}

.calcite #cp_right .dijitAccordionInnerContainer .dijitAccordionTitle {
    padding: 5px 7px;
}

.calcite #cp_right .dijitAccordionInnerContainer .dijitAccordionTitle .dijitAccordionText {
    font-size: 14.3px;
    color: #4C4C4C;
    font-weight: bolder;
}

.calcite #cp_right .dijitAccordionInnerContainer .dijitAccordionTitle {
    background-color: #E0E0DF;
}

.metrics-drawing-instructions {
    margin-bottom: 0.5em;
}

/* Overrides theme-min.css */
main .form-control {
    padding: 0.2em 0.2em;
    font-size: inherit;
    line-height: inherit;
}

.form-control.metrics-select-mode {
    height: auto;
    border: 0px solid transparent;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0 0 transparent;
    box-shadow: inset 0 0 0 transparent;
    background-color: inherit;
}

/* Overrides main.css */
.calcite #cp_right .dijitContentPane {
    padding: 0.2em;
    background-color: #F7F8F8;
}

.calcite #cp_right .dijitContentPane.dijitTabPane {
    padding-top: 10px;
}

.metrics-draw-locate {
    height: 90%;
}

.metrics-report {
    padding-left: 8px;
    margin-bottom: 12px;
    line-height: normal;
    background-color: whitesmoke;
}

.metrics-report-title {
    text-transform: uppercase;
    margin-bottom: 3px;
    font-weight: bold;
}

.metrics-stats-title {
    color: #999;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 3px;
}

.metrics-stats-result {
    color: #666;
}

.metrics-stats-separation {
    padding-bottom: 6px;
}

.metrics-text {
    color: #666;
}

ul.metrics-text {
    margin-top: 0px;
    margin: 0px 0px 10px 40px;
}

.tab-report-point {
  background-image: url("../images/metricsPoint.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 18px;
  text-align: center;
}

.tab-report-polygon {
  background-image: url("../images/metricsPolygon.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 18px;
  text-align: center;
}

.metrics-tab-query {
  background-image: url("../images/metricsQuery.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 18px;
  text-align: center;
}

.metrics-tab-results {
  background-image: url("../images/metricsResults.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 18px;
  text-align: center;
}

.metrics-icon-options {
  background-image: url("../images/metricsOptions.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 18px;
  text-align: center;
}

.metrics-icon-selection {
  background-image: url("../images/metricsSelect.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 18px;
  text-align: center;
}

.metrics-icon-find {
  background-image: url("../images/metricsFind.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 18px;
  text-align: center;
}

.metrics-tab-help {
  background-image: url("../images/metricsHelp.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 18px;
  text-align: center;
}

.metrics-options label {
    display: block;
}

.metrics-options button {
    margin-bottom: 0.5em;
    margin-right: 0.5em;
}

.form-control.metrics-select-mode label {
    display: initial;
    font-weight: initial;
}

