.metrics-search-list .metrics-search-list-title {
    font-weight: bolder;
    font-size: larger;
    margin: 0 0 0 0;
}

.metrics-search-list p {
    margin: 0 0 0 0;
}

.metrics-search-list section {
    margin: 1em 0 1em 0;
}

.metrics-search-list .arcgisSearch {
    float: right;
}

.metrics-search-list .select-icon {
    min-width: inherit;
    background-image: url("../images/searchListSelect.png");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
    text-align: center;
}

.metrics-search-list .map-button {
	width:32px;
	height:32px;
}

.metrics-search-list .map-button img {
    width: 22px;
    height: 24px;
    padding-bottom: 4px;
}

.metrics-search-list .map-extent-search {
    display: inline-block;
}
