<div class="metrics-report">
    <div class="metrics-report-title">${i18nReport.title}</div>
    <div class="metrics-report-title">${result.option_date_month_word}</div>

    <div class="metrics-stats-title">${i18nReport.drought}:</div>
    <div class="metrics-stats-result">${result.drought_intensity_report}</div>
    <div class="metrics-stats-title">${i18nReport.grasshopper}:</div>
    <div class="metrics-stats-result">${result.grasshopper_class}</div>
</div>
