<div class="metrics-report">
    <div class="metrics-report-title">${i18nReport.title}</div>
    <div class="metrics-text">${i18nReport.drought}</div>
    <div class="metrics-text">${i18nReport.grasshopper}</div>
</div>
