<div class="chart-selection">
    <label for="${id}-select">${i18n.label}</label>
    <div>
        <!-- class="form-control" : Wet4 specific -->
        <select id="${id}-select" class="form-control" data-dojo-attach-point="chartSelect"></select>
        <div class="chart-selection-buttons">
            <!-- class="buttonn" : Wet3 specific -->
            <!-- class="btn btn-default btn-sm" : Wet4 specific -->
            <button class="button btn btn-default btn-sm chart-selection-show" data-dojo-attach-point="buttonShow">${i18n.show}</button>
            <button class="button btn btn-default btn-sm chart-selection-show-all" data-dojo-attach-point="buttonShowAll">${i18n.all}</button>
            <button class="button btn btn-default btn-sm chart-selection-clear" data-dojo-attach-point="buttonClear">${i18n.clear}</button>
        </div>
    </div>
</div>
