<div class="chart-control-container" data-dojo-attach-point="container">
    <button data-dojo-attach-point="mapGraphicButton"
            data-dojo-type="dijit/form/ToggleButton"
            data-dojo-props="iconClass:'chart-show-graphics-icon', showLabel: false"
            class="esriButton"
            tabindex="0">
    </button>
    <button data-dojo-attach-point="fullscreenButton"
            data-dojo-type="dijit/form/Button"
            data-dojo-props="iconClass:'chart-fullscreen-icon', showLabel: false"
            class="esriButton"
            tabindex="0">
    </button>
    <button data-dojo-attach-point="closeButton"
            data-dojo-type="dijit/form/Button"
            data-dojo-props="iconClass:'chart-close-icon', showLabel: false"
            class="esriButton chart-control-close"
            tabindex="0">
    </button>
</div>
