<div class="metrics-report">
    <div class="metrics-report-title">${i18nReport.title}</div>
    <div class="metrics-report-title">${i18nReport.description}</div>
    <div class="metrics-stats-title">${i18nReport.current_temperature}</div>
    <div>
        <span class="metrics-stats-result">${result.temperature_current}</span>
    </div>
    <div class="metrics-stats-title">${i18nReport.current_precipitation}</div>
    <div>
        <span class="metrics-stats-result">${result.precipitation_current}</span>
    </div>
</div>
