<div class="metrics-report">
    <div class="metrics-report-title">${i18nReport.title}</div>
    <div class="metrics-text">${i18nReport.current_temperature}</div>
    <div class="metrics-text">${i18nReport.current_precipitation}</div>
</div>
