<section tabindex="0"
         id="car-${options.option_caruid}"
         data-id="${options.option_oid}"
         data-id-name="${options.option_oid_name}">
  <div class="metrics-search-list-title ">
      <span> ${i18nTemplate.car} #${options.option_caruid}</span>
      <button name="metrics-search-list-select"
              alt="${i18nTemplate.selectAlt}"
              tabindex="0"
              class="button btn btn-default btn-xs select-icon"
              type="button">
      </button>
  </div>
  <p>${i18nTemplate.overall_outlook} ${options.option_cpi}</p>
  <p>${i18nTemplate.province} ${options.option_prname}</p>
</section>
